.for-bg{
    background-image: url("../../../public/Resources/Rectangle4287.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: .3; */
}